[Unit]
Description=Injeta as chaves SSH do cofre do Proton Pass no agente SSH ativo da sessao
Documentation=https://protonpass.github.io/pass-cli/commands/ssh-agent/

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart={{ proton_pass_ssh_agent_load_script_dest }}

[Install]
WantedBy=default.target
